<div class="block-weather-ifo">
    <h2 class="weather-info-city">City: {{ city }}</h2>
    <ul style="list-style: none;">
        <li class="weather-temp">Temprature: {{ temp }}</li>
        <li class="weather-pressure">Pressure: {{ pressure }}</li>
        <li class="weather-humidity">Humidity: {{ humidity }}</li>
        <li class="weather-temp-min">Temp min: {{ temp_min }}</li>
        <li class="weather-temp-max">Temp max: {{ temp_max }}</li>
        <li class="weather-wind-speed">Wind speed: {{ wind_speed }}</li>
    </ul>
</div>